body {
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0;
    padding: 0;
}

#score {
    position: absolute;
    font-family: helvetica, verdana, sans-serif;
    font-size: 40px;
    width: 100px;
    text-align: center;
}