body {
    background-color: #a7d495;
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

#container {
    margin: 0;
    padding: 0;
}

#score {
    position: absolute;
    font-family: helvetica, verdana, sans-serif;
    font-size: 40px;
    width: 100px;
    text-align: center;
    color: #25510a;
    font-weight: bold;
}


#backgroundPopup{  
	display:none;  
	position:fixed;  
	height:100%;  
	width:100%;  
	top:0;  
	left:0;  
	background:#000000;  
	border:1px solid #cecece;  
	z-index:1;  
}  
#popupContact{  
		display:none;  
		position:fixed;  
		_position:absolute; /* hack for internet explorer 6*/  
		height:200px;  
		width:458px;  
		background:#FFFFFF;  
		border:2px solid #cecece;  
		z-index:2;  
		padding:6px;  
		font-size:13px;  
}  
#popupContact h1{  
	text-align:left;  
	color:#6FA5FD;  
	font-size:22px;  
	font-weight:700;  
	border-bottom:1px dotted #D3D3D3;  
	padding-bottom:2px;  
	margin-bottom:20px;  
}  
#popupContactClose{  
	font-size:14px;  
	line-height:14px;  
	right:6px;  
	top:4px;  
	position:absolute;  
	color:#6fa5fd;  
	font-weight:700;  
	display:block;  
}  
#button{  
	text-align:center;  
	margin:100px;  
}  

#message {
    position: absolute;
    font-family: helvetica;
    font-size: 25px;
    background-color: #FFFFFF;
}
#time {
    background-color: #FFFFFF;
   font-size: 15px;
   position: absolute;
   right: 0;
   top: 0;
}
#high_score {
	    position: absolute;
    font-family: helvetica;
    font-size: 15px;
    background-color: #FFFFFF;
}